/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 11/03/2019, 09:10:41 AM
    Author     : SIS17E8
*/
.jumbotron{
    background-color: yellow;
    colo: black;
}

footer{
    padding: 10px 10px 0 10px;
    background-color: yellow;
    margin-bottom: 0px;
    margin-top: 10px;
}

.card-hotel{
    flex:1 250px;
    padding: 2px 5px 2px 5px;
    margin-top: 10px;
    
}

.btn-reserva{
 width: 100%;
 
}